body{
    margin: 0;
    padding: 0;
    font-family: "Robobto";
    /*KEEP THE TWO LINES BELOW! THE KEEP FOOTER NICE 
    FOR EVERY BROWSER*/
    position: relative;
    height: 100%;
    overflow-x: hidden;
    /*overflow-y: hidden;*/
}
table {
    font-family: georgia, serif;
    border-spacing: 10px; /*only px seems to work here*/
    font-size: 90%;
    /*width: 30%*/
} 

/*used while making the table*/
td{
    text-align: left;
    padding-top: 0px;
    color:rgb(231,236,195);
}
#credentials{
    position: relative;
    float: right;
    top: -87px;
    text-align: right;
    padding-right: 10px;
    margin: 0;
    color: white;
}
#userName{
    margin-top: 12%;
    margin-bottom: 3%;
}

/*used for the headings of the table to be bold and different color*/
th{
    text-align: left;
    padding: 0%;
    color: rgb(170,138,0);
}

/*this makes the hyperlinks white*/
a:link, a:visited{
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
}
/*used when hovering over hyperlink*/
a:hover {
    color: rgb(154, 206, 96);
}

/*style the header of the website*/
#header{
    margin-top: -2%;
    width: 100%;
    height: 120px;
    float: right;
    /*padding: 200%, 200%;*/
    background-color:#024230;
}

/*style of the title of the page*/
#header p{
    text-align: center;
    margin: auto;
    margin-top: 1.75%;
    padding-top: 2%;
    font-size: 200%;
    color: rgb(255, 255, 255);
}
/*styles the footer of the website*/
#footer{
    height: 130px; 
    margin-top: 1.5%;
    /*have the footer at the bottom and stretch across*/

    /*DO NOT REMOVE THE LINE BELOW THIS; USED FOR FOOTER*/
    position: relative;
    /*DO NOT REMOVE THE LINE BELOW THIS; USED FOR FOOTER*/

    /*DO NOT REMOVE THE LINE BELOW THIS; USED FOR FOOTER*/
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: #024230;
    
}
#container{
    min-height:80%;
    /*adjust this style accordingly when implementing filters since it will skew this initial padding*/
    padding-top: 100px;
}
#sHead{
    color: white;
    border: 1px solid black;
    background-color: #024230;
    text-align: center;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}
#speciesTable{
    position: relative;
    border-collapse: collapse;
    width: 65%;
    left: 17%;
}
#rowData{
    color: black;
    border: 1px solid black;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
}
#filter{
    background-color: #024230;
}

#filterFields{
    display: flex;
    justify-content: center;
    margin-top: 1.5%;
    margin-bottom: 0.5%;
    color: rgb(255, 255, 255);
    cursor:pointer;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    border: none;
}

#filterTitle{
    text-align: center;
    font-size: 120%;
    font-weight: bold;
    margin-top: 5%;
    padding-top: 0.005%;
    color: white;
}

#filterButton{
    display: flex;
    margin-top: 0.05%;
    margin-bottom: 3%;
    background-color: #ffffff;
}

#div_id_fCommonName{
    display: flex;
}

#div_id_fScientificName{
    display: flex;
}

#div_id_fRegion{
    display: flex;
}

#div_id_fConservationStatus{
    display: flex;
}
#addButton{
    margin: 0 auto;
    width: 20%;
    height: 35px;
    background-color: #024230;
    margin-top: 2%;
    cursor:pointer;
    border: none;
    border-radius: 5px;
    color: white;
}
label{
    cursor: pointer;
    display: inline-block;
    padding: 3px 6px;
    text-align: right;
    width: 45%;
    vertical-align: top;
}
.paginate{
    color: black !important;
}
.paginate:hover{
    color: blue !important;
}
.paginate-container{
    margin-left: 18%;
}
