body{
    margin: 0;
    padding: 0;
    font-family: "Robobto";
    /*KEEP THE TWO LINES BELOW! THE KEEP FOOTER NICE 
    FOR EVERY BROWSER*/
    position: relative;
    height: 100%;
    /*overflow-y: hidden;*/
}
table {
    font-family: georgia, serif;
    border-spacing: 10px; /*only px seems to work here*/
    font-size: 90%;
    /*width: 30%*/
} 

/*used while making the table*/
td{
    text-align: left;
    padding-top: 0px;
    color:rgb(231,236,195);
}
#credentials{
    position: relative;
    float: right;
    top: -87px;
    text-align: right;
    padding-right: 10px;
    margin: 0;
    color: white;
}
#userName{
    margin-top: 12%;
    margin-bottom: 3%;
}

/*used for the headings of the table to be bold and different color*/
th{
    text-align: left;
    padding: 0%;
    color: rgb(170,138,0);
}

/*this makes the hyperlinks white*/
a:link, a:visited{
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
}
/*used when hovering over hyperlink*/
a:hover {
    color: rgb(154, 206, 96);
}

/*style the header of the website*/
#header{
    margin-top: -2%;
    width: 100%;
    height: 120px;
    float: right;
    /*padding: 200%, 200%;*/
    background-color:#024230;
}

/*style of the title of the page*/
#header p{
    text-align: center;
    margin-top: 1.75%;
    padding-top: 2%;
    font-size: 200%;
    color: rgb(255, 255, 255);
}
/*styles the footer of the website*/
#footer{
    height: 130px; 
    margin-top: 1.5%;
    /*have the footer at the bottom and stretch across*/
    /*DO NOT REMOVE THE LINE BELOW THIS; USED FOR FOOTER*/
    position: relative;
    /*DO NOT REMOVE THE LINE BELOW THIS; USED FOR FOOTER*/
    /*DO NOT REMOVE THE LINE BELOW THIS; USED FOR FOOTER*/
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: #024230;
    
}
#container{
    min-height:80%;
    /*adjust this style accordingly when implementing filters since it will skew this initial padding*/
}
#sHead{
    color: white;
    border: 1px solid black;
    background-color: #024230;
    text-align: center;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}
#speciesTable{
    position: relative;
    border-collapse: collapse;
    width: 65%;
}
#rowData{
    color: black;
    border: 1px solid black;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
}
.editordelete{
    border: none;
    background-color: white;
    cursor: pointer;
}
.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
}
.modal.active{
    transform: translate(-50%, -50%) scale(1);
}
.modalHeader{
    padding: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}
.modalHeader .title{
    font-size: 1.25rem;
    font-weight: bold;
}
.modalHeader .close{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem
}
.modalBody {
    text-align: center;  
}

#overlay{
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active{
    pointer-events: all;
    opacity: 1;
}
.form-components{
    padding: 10px 15px;
    border-bottom: 1px solid black;
}
#update{
    margin: 0 auto;
    width: 20%;
    height: 35px;
    background-color: #024230;
    margin-top: 2%;
    cursor:pointer;
    border: none;
    border-radius: 5px;
    color: white;
}
#div_id_commonName{
    display: flex;
}
#div_id_scientificName{
    display: flex;
    margin-top: 5%;
}
#div_id_region{
    display: flex;
    margin-top: 5%;
}
#div_id_conservationStatus{
    display: flex;
    margin-top: 5%;
}
#div_id_group{
    display: flex;
    margin-top: 5%;
}

label{
    cursor: pointer;
    display: inline-block;
    padding: 3px 6px;
    text-align: right;
    width: 45%;
    vertical-align: top;
}
#deleteForm{
    display: inline;
}
#addSpecies{
    width: 20%;
    height: 5%;
    background-color: #024230;
    margin-top: 1%;
    border: none;
    cursor: pointer;
    color: white;
    margin-left: 40%;
    margin-right: auto;
    margin-bottom: 1%;
    font-weight: bold;
}
.form-control{
    width: 15em;
}
.modalHeader2{
    padding: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}
.modalHeader2 .title{
    font-size: 1.25rem;
    font-weight: bold;
}
.modalHeader2 .close{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem
}
.modalBody2 {
    text-align: center;  
}
#div_id_cName{
    display: flex;
}
#div_id_sName{
    display: flex;
    margin-top: 5%;
}
#div_id_reg{
    display: flex;
    margin-top: 5%;
}
#div_id_cStatus{
    display: flex;
    margin-top: 5%;
}
#div_id_grp{
    display: flex;
    margin-top: 5%;
}
#addButton{
    margin: 0 auto;
    width: 20%;
    height: 35px;
    background-color: #024230;
    margin-top: 2%;
    cursor:pointer;
    border: none;
    border-radius: 5px;
    color: white;
}
#tableContainer{
    justify-content: center;
    display: flex;
}
#addContainer{
    justify-content: center;
    display: block;
}
#manageTitle{
    padding-left: 1%;
    padding-top: 7%;
    font-weight: bold;
    font-size: 1.25em;
    margin-left: 40%;
    margin-right: auto;
}
#manageButton{
    margin: 0 auto;
    width: 15%;
    height: 35px;
    background-color: #024230;
    margin-top: 2%;
    cursor:pointer;
    border: none;
    border-radius: 5px;
    color: white;
}
#buttonContainer{
    margin-left: 27.5%;
    margin-right: auto;
    display: inline;
}
#additionalOptions{
    margin-bottom: 2%;
}

/* Filter Information */
#filter{
    background-color: #024230;
}

#filterFields{
    display: flex;
    justify-content: center;
    margin-top: 1.5%;
    margin-bottom: 0.5%;
    color: rgb(255, 255, 255);
    cursor:pointer;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    border: none;
}

#filterTitle{
    text-align: center;
    font-size: 120%;
    font-weight: bold;
    margin-top: 5%;
    padding-top: 0.005%;
    color: white;
}

#filterButton{
    display: flex;
    margin-top: 0.05%;
    margin-bottom: 3%;
    background-color: #ffffff;
}

#div_id_fCName{
    display: flex;
}

#div_id_fSName{
    display: flex;
}

#div_id_fReg{
    display: flex;
}

#div_id_fCStatus{
    display: flex;
}

#div_id_fGrp{
    display: flex;
}