body {
    font-family: georgia, serif;
    margin: 0%;
    padding: 0%;
    /*makes the page not have a horizontal scrolling*/
    max-width: 100%;
    /*hides the scroll for horizontal*/
    overflow-x: hidden;
    background: url("../img/background/nature.jpg");
    color: #024230;
    background-color:#ffffff;
}
#forms{
    position: relative;
    margin: 2%;
    height: 0%;
}
#formComponents{
    position:absolute;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    padding-top: 2%;
    padding-left: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
    border-radius: 10%;
    color: #00694E;;
    background-color: white;
}

#Log{
    width: 65%;
    height: 25px;
    padding-left: 5px;
    border: none;
    border-radius: 20px;
    color:rgb(255, 255, 255);
    background-color: #00694E;
}
#Create{
    width: 100%;
    height: 30px;
    padding-left: 5px;
    border: none;
    border-radius: 20px;
    color:rgb(255, 255, 255);
    background-color: #00694E;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*used for hyperlink*/
a:link, a:visited{
    color:#00694E;
    background-color: transparent;
    text-decoration: none;
}
/*used when hovering over hyperlink*/
a:hover {
    color: rgb(154, 206, 96);
}
.inputs{
    text-align: center;
}