{% extends 'base.html' %}
{% load crispy_forms_tags%}
{% block content %}
{% load static %}
<!DOCTYPE >
<html>
    <head>
        <link rel = "stylesheet" type = "text/css" href="{% static 'myapp/css/createuser.css' %}">
    </head>
    <body>
        <div id = "formComponents">  
            <img>
                <img id = logo src = "{% static 'myapp/img/background/logo3.png' %}"width = "64" height="64" alt = "DBFinal" class="center">
            </img>
            <form action="" method="POST" id = "forms" class = "form-group">
                {% csrf_token %}
                {{ form|crispy }}
                <input type = 'submit' name = "Create" id = "Create" value = 'Create Account' />
            </form>
        </div>
    </body>
</html>
{% endblock %}