{% load crispy_forms_tags%}
{% block content %}
{% load static %}
{% load url_replace %}
{% load sort_toggle %}
<!DOCTYPE >
<html>
    <head>
        <link rel = "stylesheet" type = "text/css" href="{% static 'myapp/css/manageregion.css' %}">
        <script defer src = "{% static 'myapp/js/AddOrEditController.js' %}"></script>
    </head>
    <body>
        <div id = header>
            <p>DBFinal</p>  
        </div>
        <div id = credentials>
            <p id = userName>{{user.username}}</p>
            <a href = "{% url 'logout' %}">Logout</a>
            <br>
            <a href = "../">Manage Page</a>
        </div>
        <div id = container>
            <div id = addContainer>
                <button id = addRegion data-modal-open = "#modal2">Add Region</button>
            </div>
            <div id = filterContainer>
                <form action="" method="GET" id = "filterOptions" class = "form-group">
                    <div id = filter>
                        <p>Filter Options</p>
                        {% csrf_token %}
                        {{filterRegion|crispy}}
                    </div>
                    <div id= filterButton>
                        <input submit-button id = "addButton" type = "submit" name = "filterTextBox" value = 'Filter' />
                    </div>  
                </form>
            </div>
            <div id = tableContainer>
                <table id = regionTable>
                    <th id = region><a href="?{% sort_toggle request 'region_sort' %}">Region</a></th>
                    <th id = editordelete>Edit/Delete</th>
                    {% for r in regions %}
                    <tr>
                        <td id = rowData>{{r.1}}</td>
                        <td id = rowData>
                        <button data-modal-open = "#modal " onclick = "setRegionEditValues('{{r.0}}', '{{r.1}}')"class = editordelete type="submit">
                            <img id = edit src ="{% static 'myapp/svg/edit.svg' %}" alt = "not found">
                        </button>
                        <form method="POST" id = deleteForm>
                            {% csrf_token %}
                            <button type = 'submit' name = delete value= '{{r.0}}' class = editordelete>
                                <img type = submit id = delete src ="{% static 'myapp/svg/delete.svg' %}" alt = "not found">
                            </button>
                        </form>
                        </td>
                    </tr>                    
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class = "modal" id = modal2>
            <div class = modalHeader2>
                <div class = title>
                    Add Region
                </div>
                <button data-close-button class = close>&times;</button>
            </div>
            <div class = modalBody2>
                <form action="" method="POST" id = "add" class = "form-group">
                    <div class = "form-components">
                        {% csrf_token %}
                        {{ form|crispy }}
                    </div>
                    <input id = "addButton" type = "submit" name = "Create" value = 'Submit' />
                </form>
            </div>
        </div>
        <div class = "modal" id = modal>
            <div class = modalHeader>
                <div class = title>
                    Edit Species
                </div>
                <button data-close-button class = close>&times;</button>
            </div>
            <div class = modalBody>
                <form action="" method="POST" id = "edit" class = "form-group">
                    <div class = "form-components">
                        {% csrf_token %}
                        {{ form2|crispy }}
                    </div>
                    <button id = "update" type = "submit" name = "update" value = "">Submit</button>
                </form>
            </div>
        </div>
        <div id = footer>
            <table>
                <tr>
                    <th>Name</th> <!--The name of the individual-->
                    <th>Email</th> <!--Their email (with hyperlink)-->
                    <th>GitHub ID</th> <!--Their GitHub ID (with hyperlink)-->
                </tr>
                <tr>
                    <td>Johnny Gilbert</td>
                    <td><a href="mailto: jg480318@ohio.edu">jg480318@ohio.edu</a></td>
                    <td><a href=https://github.com/JohnGilbert57>JohnGilbert57</a></td>
                </tr>
                <tr>
                    <td>Nathan Bennett</td>
                    <td><a href="mailto: nb566818@ohio.edu">nb566818@ohio.edu</a></td>
                    <td><a href=https://github.com/nbennett2019>nbennett2019</a></td>
                </tr>
                <tr>
                    <td>Nathaniel Buchanan</td>
                    <td><a href="mailto: nb333218@ohio.edu">nb333218@ohio.edu</a></td>
                    <td><a href=https://github.com/NathanielBuchanan>NathanielBuchanan</a></td></td>
                </tr>
            </table>
        </div>
        <div id = "overlay"></div>
    </body>
</html>  
{% endblock%}
