{% load crispy_forms_tags%}
{% block content %}
{% load static %}
<!DOCTYPE >
<html>
    <head>
        <link rel = "stylesheet" type = "text/css" href="{% static 'myapp/css/manage.css' %}">
        <script defer src = "{% static 'myapp/js/edit.js' %}"></script>
    </head>
    <body>
        <div id = header>
            <p>DBFinal</p>  
        </div>
        <div id = credentials>
            <p>{{user.username}}</p>
            <a href = "{% url 'logout' %}">Logout</a>
        </div>
        <div id = container>
            <table id = speciesTable>
                <th id = sHead>Common Name</th>
                <th id = sHead>Scientific Name</th>
                <th id = sHead>Region</th>
                <th id = sHead>Conservation Status</th>
                <th id = sHead>Group</th>
                <th id = sHead>Edit/Delete</th>
		    {% for r in species %}
            <tr>
            <td id=rowData>
				{{r.1}}
			</td>
            <td id=rowData>
				{{r.2}}
			</td>
            <td id=rowData>
				{{r.3}}
			</td>
            <td id=rowData>
				{{r.4}}
			</td>
            <td id=rowData>
				{{r.5}}
			</td>
            <td id=rowData>
                    <button data-modal-open = "#modal " class = editordelete type="submit" value="Reply" name ="message_frm">
                        <img id = edit src ="{% static 'myapp/svg/edit.svg' %}" alt = "not found">
                    </button>
                <form method="POST" id = deleteForm>
                    {% csrf_token %}
                    <button type = 'submit' name = delete value= '{{r.0}}' class = editordelete>
                        <img type = submit id = delete src ="{% static 'myapp/svg/delete.svg' %}" alt = "not found">
                    </button>
                </form>
			</td>
			</tr>
		    {% endfor %}
            </table>
        </div>
        <div class = "modal" id = modal>
            <div class = modalHeader>
                <div class = title>
                    Edit Species
                </div>
                <button data-close-button class = close>&times;</button>
            </div>
            <div class = modalBody>
                <form action="" method="POST" id = "forms" class = "form-group">
                    <div class = "form-components">
                        {% csrf_token %}
                        {{ form|crispy }}
                    </div>
                    <input submit-button id = "update" type = "button" name = "update" value = 'Submit' />
                </form>
            </div>
        </div>
        <div id = footer>
            <table>
                <tr>
                    <th>Name</th> <!--The name of the individual-->
                    <th>Email</th> <!--Their email (with hyperlink)-->
                    <th>GitHub ID</th> <!--Their GitHub ID (with hyperlink)-->
                </tr>
                <tr>
                    <td>Johnny Gilbert</td>
                    <td><a href="mailto: jg480318@ohio.edu">jg480318@ohio.edu</a></td>
                    <td><a href=https://github.com/JohnGilbert57>JohnGilbert57</a></td>
                </tr>
                <tr>
                    <td>Nathan Bennett</td>
                    <td><a href="mailto: nb566818@ohio.edu">nb566818@ohio.edu</a></td>
                    <td><a href=https://github.com/nbennett2019>nbennett2019</a></td>
                </tr>
                <tr>
                    <td>Nathaniel Buchanan</td>
                    <td><a href="mailto: nb333218@ohio.edu">nb333218@ohio.edu</a></td>
                    <td><a href=https://github.com/NathanielBuchanan>NathanielBuchanan</a></td></td>
                </tr>
            </table>
        </div>
        <div id = "overlay"></div>
    </body>
</html>  
{% endblock%}
