{% load crispy_forms_tags%}
{% block content %}
{% load static %}
<!DOCTYPE >
<html>
    <head>
        <link rel = "stylesheet" type = "text/css" href="{% static 'myapp/css/manage.css' %}">
        <script defer src = "{% static 'myapp/js/AddOrEditController.js' %}"></script>
	<script>
		(function () {
			window.onpageshow = function(event) {
				if (event.persisted) {
					window.location.reload();
				}
			};
		})();
	</script>
    </head>
    <body>
        <div id = header>
            <p>DBFinal</p>  
        </div>
        <div id = credentials>
            <p id = userName>{{user.username}}</p>
            <a href = "{% url 'logout' %}">Logout</a>
            <br>
            <a href = "../">Landing Page</a>
        </div>
        <div id = additionalOptions>
            <p id = manageTitle>Additional Management Options</p>
            <div id = buttonContainer>
                <a id = navigate href = './regions'><button id = manageButton>Manage Regions</button></a>
                <a id = navigate href = './statuses'><button id = manageButton>Manage Conservation Statuses</button></a>
                <a id = navigate href = './groups'><button id = manageButton>Manage Animal Groups</button></a>
            </div>
        </div>
        <div id = container>
            <div id = addContainer>
                <button id = addSpecies data-modal-open = "#modal2">Add Species</button>
            </div>
            <div id = filter>
                <div id = filterTitle>
                    <p> Filter Options </p>
                </div>
                <form action="" method="GET" id = "filterOptions" class = "form-group">
                    <div id = filterFields>
                        {% csrf_token %}
                        {{ form3|crispy }}
                    </div>
                    <div id= filterButton>
                        <input submit-button id = "addButton" type = "submit" name = "Create" value = 'Filter' />
                    </div>
                </form>
            </div>
            <div id = tableContainer>
                <table id = speciesTable>
                    <th id = sHead>Common Name</th>
                    <th id = sHead>Scientific Name</th>
                    <th id = sHead>Region</th>
                    <th id = sHead>Conservation Status</th>
                    <th id = sHead>Group</th>
                    <th id = sHead>Edit/Delete</th>
                    {% for r in speciesPaginate %}
                    <tr>
                    <td id=rowData>
                        {{r.1}}
                    </td>
                    <td id=rowData>
                        {{r.2}}
                    </td>
                    <td id=rowData>
                        {{r.3}}
                    </td>
                    <td id=rowData>
                        {{r.4}}
                    </td>
                    <td id=rowData>
                        {{r.5}}
                    </td>
                    <td id=rowData>
                        <button data-modal-open = "#modal " onclick = "setSpeciesEditValues('{{r.0}}', '{{r.1}}', '{{r.2}}', '{{r.3}}', '{{r.4}}', '{{r.5}}')"class = editordelete type="submit">
                            <img id = edit src ="{% static 'myapp/svg/edit.svg' %}" alt = "not found">
                        </button>
                        <form method="POST" id = deleteForm>
                            {% csrf_token %}
                            <button type = 'submit' name = delete value= '{{r.0}}' class = editordelete>
                                <img type = submit id = delete src ="{% static 'myapp/svg/delete.svg' %}" alt = "not found">
                            </button>
                        </form>
                    </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
	<div>
	    <span class="paginate">
		{% if speciesPaginate.has_previous %}
		    <a class="paginate" href="?page=1">&laquo; first</a>
		    <a class="paginate" href="?page={{ speciesPaginate.previous_page_number }}">previous</a>
		{% endif %}

		<span>
		    Page {{ speciesPaginate.number }} of {{ speciesPaginate.paginator.num_pages }} 
		</span>

		{% if speciesPaginate.has_next %}
		    <a class="paginate" href="?page={{ speciesPaginate.next_page_number }}">next</a>
		    <a class="paginate" href="?page={{ speciesPaginate.paginator.num_pages }}">last &raquo;</a>
		{% endif %}
	    </span>
	</div>
        </div>
        <div class = "modal" id = modal2>
            <div class = modalHeader2>
                <div class = title>
                    Add Species
                </div>
                <button data-close-button class = close>&times;</button>
            </div>
            <div class = modalBody2>
                <form action="" method="POST" id = "add" class = "form-group">
                    <div class = "form-components">
                        {% csrf_token %}
                        {{ form|crispy }}
                    </div>
                    <input id = "addButton" type = "submit" name = "Create" value = 'Submit' />
                </form>
            </div>
        </div>
        <div class = "modal" id = modal>
            <div class = modalHeader>
                <div class = title>
                    Edit Species
                </div>
                <button data-close-button class = close>&times;</button>
            </div>
            <div class = modalBody>
                <form action="" method="POST" id = "edit" class = "form-group">
                    <div class = "form-components">
                        {% csrf_token %}
                        {{ form2|crispy }}
                    </div>
                    <button id = "update" type = "submit" name = "update" value = "">Submit</button>
                </form>
            </div>
        </div>
        <div id = footer>
            <table>
                <tr>
                    <th>Name</th> <!--The name of the individual-->
                    <th>Email</th> <!--Their email (with hyperlink)-->
                    <th>GitHub ID</th> <!--Their GitHub ID (with hyperlink)-->
                </tr>
                <tr>
                    <td>Johnny Gilbert</td>
                    <td><a href="mailto: jg480318@ohio.edu">jg480318@ohio.edu</a></td>
                    <td><a href=https://github.com/JohnGilbert57>JohnGilbert57</a></td>
                </tr>
                <tr>
                    <td>Nathan Bennett</td>
                    <td><a href="mailto: nb566818@ohio.edu">nb566818@ohio.edu</a></td>
                    <td><a href=https://github.com/nbennett2019>nbennett2019</a></td>
                </tr>
                <tr>
                    <td>Nathaniel Buchanan</td>
                    <td><a href="mailto: nb333218@ohio.edu">nb333218@ohio.edu</a></td>
                    <td><a href=https://github.com/NathanielBuchanan>NathanielBuchanan</a></td></td>
                </tr>
            </table>
        </div>
        <div id = "overlay"></div>
    </body>
</html>  
{% endblock%}
